body {
    background-color: #FFFFFF;
    margin: 0px;
}


#headerBar {
    width: 100%;
}

#headerImg {
    width: 100%;
    height: 300px;  
    position: absolute;
    z-index: 1;
    object-fit: cover;
}

#titleBar {
    position: relative;
    height: 50px;
    margin: auto;
    background-color: #222211;
    text-align: center;
    top: 300px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: Avenir-Light;
    font-size: 42px;
}

#profile {
    position: relative;
    width: 400px;
    height: 500px;
    margin: auto;
    z-index: 2;
    top: 350px;
}

#profileImg {
    width: 100%;
    display: block;    
}

#YouTubePlayer {
    background-color: #000;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}

.section {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F5F5F5;
    top: 400px;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
    width: 85%;
}

p1 {
    font-size: 32px;
    font-family: Avenir-Heavy;
}

p2 {
    font-size: 20px;
    font-family: Avenir-Light;
}

@font-face {
    font-family: Avenir-Light;
    src: url("Avenir-Light.woff");
}

@font-face {
    font-family: Avenir-Heavy;
    src: url("Avenir-Heavy.woff");
}

.completed {
    position: relative;
    color: green;
    display: inline-block;
}

.completed .completedText {
  visibility: hidden;
  width: 650px;
  background-color: grey;
  color: #fff;
/*  text-align: center;*/
  border-radius: 6px;  
    padding-left: 10px;
    padding-bottom: 20px;
  /* Position the completedText */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -75px;
}

.completed:hover .completedText {
  visibility: visible;
}
.completed::after {
  border-bottom: 0.07em solid;
  content: "";
  left: 0;
  margin-top: calc(0.2em / 2 * -1);
  position: absolute;
  right: 0;
  top: 60%;
}